<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
    <title>Better writing with write-tight.</title>
  </head>
  <body>
    <div class="main-container">
      <div class="content-wrapper">
        <div class="refresh-section">
          <a class="refresh-button" href="{{ url_for('input') }}">
            <span><ion-icon name="refresh-outline"></ion-icon></span>
          </a>
        </div>
        {% block content %} {% endblock %}
      </div>
      <footer class="footer">
        <p class="footer-text">
          Do you want to add a pattern or do you have other suggestions? Feel
          free to get in touch via Github.
        </p>
        <a
          class="footer-link"
          target="_blank"
          href="https://github.com/EBolle/write-tight.git"
        >
          <span
            ><ion-icon class="footer-icon" name="logo-github"></ion-icon>
          </span>
        </a>
      </footer>
    </div>

    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
  </body>
</html>
