<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
    <title>Better writing with write-tight.</title>
  </head>
  <body>
    <div class="top-section">
      <button class="refresh-button">
        <span><ion-icon name="refresh-outline"></ion-icon></span>
      </button>
      <form action="{{ url_for('textarea_post') }}" method="post">
        <textarea
          name="text"
          class="textarea"
          placeholder="Please enter your text here.."
        ></textarea>
        <div class="submit-container">
          <input class="submit-button" type="submit" />
        </div>
      </form>
      <p class="return-text">{{ submit_text }}</p>
    </div>
    <div class="pattern-explanations">
      <p class="ambiguous-openings-exp">
        <span class="ambiguous-openings">Ambiguous openings:</span>
        There was, It were, It was. These sentence openings are vague. The more
        specific your writing, the more authority your document will have.
      </p>
      <p class="ambiguous-pronouns-exp">
        <span class="ambiguous-pronouns">Ambiguous pronouns:</span>
        It, these, those, and that are vague. The more precise your writing, the
        better.
      </p>
      <p class="passive-voice-exp">
        <span class="passive-voice">Passive voice:</span> Was reading, is
        happening, are reading. A to be verb followed by a verb is an indicator
        of passive voice. Try to write 90% of your document in active voice.
      </p>
      <p class="subjunctive-mood-exp">
        <span class="subjunctive-mood">Subjunctive mood:</span>
        Would of, should of, could of. Besides sounding weak, subjunctive mood
        can also suggest a condition when it is not present. This can cause
        confusion.
      </p>
      <p class="words-ending-with-ly-exp">
        <span class="words-ending-with-ly">Words that end with ly:</span>
        Basically, usually, normally. These words can <em>usually</em> be
        removed from your document without losing any meaning.
      </p>
    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
  </body>
</html>
