{% extends 'base.html' %} {% block content %}

<div class="refresh-section">
  <form action="{{ url_for('input') }}">
    <button class="refresh-button">
      <span><ion-icon name="refresh-outline"></ion-icon></span>
    </button>
  </form>
</div>
<div class="textio-section">
  <form action="{{ url_for('output') }}" method="post">
    <textarea
      name="text"
      class="text-input iotext ioformat"
      maxlength="1000"
      placeholder="Please enter your text here.."
    ></textarea>
    <div class="submit-container">
      <input class="submit-button" type="submit" />
    </div>
  </form>
</div>

{% endblock %}
