/* General settings  */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  /* Default = 16px, 62.5% = 10px, easy to calculate with */
  font-size: 62.5%;
}

body {
  font-family: "Rubik", sans-serif;
  background-color: #fff;

  max-width: 100rem;
  margin: 0 auto;
}

:root {
  --color-primary: #fcedda;
  --color-secundary: #ee4e34;
}

.main-container {
  position: relative;
  min-height: 100vh;
  margin-top: 10rem;
}

.content-wrapper {
  padding-bottom: 4rem;
}

span {
  font-size: 2.2rem;
  font-weight: 700;
}

/* refresh section */

.refresh-section {
  height: 6rem;
  padding: 1rem 0rem;
}

.refresh-button {
  margin-bottom: 1rem;
  background: none;
  border: none;
  cursor: pointer;
}

.refresh-button ion-icon {
  height: 4rem;
  width: 4rem;
  color: var(--color-secundary);
  transition: all 0.5s;
}

.refresh-button:hover ion-icon {
  color: #555;
}

/* textio general  */

.iotext {
  font-family: inherit;
  font-weight: 500;
  font-size: 2rem;
  line-height: 1.4;
}

.ioformat {
  height: 30rem;
  padding: 2rem;
  border-radius: 1rem;
  border: 2px solid transparent;
}

/* text input  */

.text-input {
  display: block;
  width: 100%;
  background-color: var(--color-primary);
  transition: all 0.5s;
  outline: none;
}

.text-input:hover {
  cursor: pointer;
  background-color: #eee;
}

.text-input:focus {
  cursor: text;
  color: #333;
  background-color: #fff;
  border-color: var(--color-secundary);
}

/* submit button  */

.submit-container {
  display: grid;
  height: 15rem;
}

.submit-button {
  margin: 3.2rem auto;
  background: none;
  font-size: 2.4rem;
  font-weight: 600;
  color: var(--color-secundary);
  padding: 2.4rem;
  border: 1px solid;
  border-radius: 3rem;
  cursor: pointer;
  transition: all 0.5s;
}

.submit-button:hover {
  transform: translateY(-1.2rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.04);
}

.text-output {
  overflow: auto;
  border-color: var(--color-secundary);
}

/* pattern colors */

.ambiguous-openings {
  color: purple;
}

.ambiguous-pronouns {
  color: blue;
}

.passive-voice {
  color: green;
}

.personal-pronouns {
  color: red;
}

.repeated-words {
  font-size: 2rem;
  font-weight: 500;
  text-decoration: line-through;
}

.subjunctive-mood {
  color: brown;
}

.words-ending-with-ly {
  color: orange;
}

/* pattern explanations  */

.hide {
  display: none;
}

.pattern-explanations {
  padding-top: 3.2rem;
  font-weight: 500;
  font-size: 2rem;
  line-height: 1.4;
}

.pattern-explanations p {
  padding: 1rem;
}

/* no patterns warning  */

.no-patterns {
  padding: 1rem;
  font-weight: 500;
  font-size: 2rem;
  color: red;
}

/* footer  */

.footer {
  display: flex;
  align-items: center;
  justify-content: right;
  position: absolute;
  bottom: 10rem;
  height: 4rem;
  width: 100%;
}

.footer-link ion-icon {
  height: 4rem;
  width: 4rem;
  color: var(--color-secundary);
}
